<mat-card class="post-container">

  <mat-horizontal-stepper #stepper="matHorizontalStepper">
    <mat-step>
      <ng-template matStepLabel>Add photo</ng-template>
      <div *ngIf="!post.photoURL" (click)="fileUpload.click()" class="upload-image">
        <h2>Click here to upload image</h2>
        <button color="primary" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <input (change)="detectFile($event)" id="hidden-from-screen" #fileUpload type="file">
      <img *ngIf="post.photoURL" src="{{ post.photoURL }}" alt="">
      <div *ngIf="post.photoURL" class="delete-photo">
        <button color="primary" (click)="deletePhoto()" mat-mini-fab>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Description</ng-template>
        <input matInput  [(ngModel)]="description" placeholder="Description" required>
        <button (click)="addDescription()" color="primary" mat-mini-fab>
          <mat-icon>add</mat-icon>
        </button>
        {{post.description}}
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <img *ngIf="post.photoURL" src="{{ post.photoURL }}" alt="">
      {{post.description}}
      <button (click)="addPost()" color="primary" mat-mini-fab>
        <mat-icon>send</mat-icon>
      </button>
      <span *ngIf="post.status == 'active'">Saved</span>
    </mat-step>
  </mat-horizontal-stepper>

</mat-card>
