.profile-container {
  max-width: 600px;
  margin: 20px auto;
  display: flex;
  .profile-picture {
    display: inline-block;
    max-width: 40%;
    text-align: center;
    img {
      border-radius: 50%;
      max-width: 120px;
      display: block;
      margin: 10px auto;
    }
    button {
      width: 100%;
    }
  }
  .profile-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .change-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
